// mixin created for removing redundancy as create and update blog sections have similar style
@mixin create-or-update-blog($create-or-update) {
    .#{$create-or-update}-section {
        width: 85%;
        margin: 0 auto;
        background-color: $background-color-dark;
        display: flex;
        flex-direction: column;
        button {
            padding: 10px;
            margin: 20px 0;
            border: 0.5px solid $background-color-white;
            border-radius: 5px;
            background-color: $background-color-blue;
            color: $background-color-white;
            cursor: pointer;
        }
        button:hover {
            background-color: $background-color-white;
            color: $background-color-blue;
        } 
        .#{$create-or-update}-form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            transition: display 0.7s ease;
            div {
                display: flex;
                flex-direction: column;
                gap: 10px;
                input, textarea {
                    background-color: $background-color-white;
                    border: 0.5px solid $background-color-blue;
                    padding: 10px;
                    border-radius: 5px;
                }
            }
            .flex-row {
                flex-direction: row;
                justify-content: center;
                input {
                    width: 100%;
                }
            }
            .#{$create-or-update}-content {
                textarea {
                    height: 100px;
                    font-family: 'Roboto', sans-serif;
                }
            } 
        }
        .#{$create-or-update}-form.disabled-form {
            display: none;
        }
    }    
}